<!DOCTYPE html>
<html>
    <head>
        <title>Currency Converter</title>
        <script>
          var currencyList = {{ currencyList|json_encode|raw }};
        </script>
    </head>
    <body>
        Hello !!!.
    </body>
</html>